          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <ul class="nav side-menu">
          <li><a><i class="fa fa-bar-chart"></i> СКУД <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                  <li><a href="/acs/summary">Общий отчет</a></li>
                  <li><a href="/acs/hours">Отработанное время</a></li>
              </ul>
          </li>
            </div>
            <div class="menu_section">
                <h3> В разработке </h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-envelope"></i> SMTP2GO <span class="label label-success pull-right">Coming soon</span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="/smtp2go/summary">Суммарная статистика</a></li>
                    <li><a href="#">Письма</a></li>
                    <li><a href="#">История</a></li>
                    <li><a href="#">Статистика по спаму </a></li>
                    <li><a href="#">Пользователи</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-hacker-news"></i> Яндекс ПДД<span class="label label-success pull-right">Coming soon</span></a>
                  <!--<ul class="nav child_menu" style="display: none">-->
                    <!--<li><a href="form.html">General Form</a></li>-->
                  <!--</ul>-->
                </li>
              </ul>
            </div>

          </div>
      <!--    [> /sidebar menu <]-->
        </div>
      </div>

